* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBarCentro {
    display: flex;
    justify-content: center;
}

.style-nav {
    margin: 2px;
    background-color: white;
    color: black;
    font-weight: bold;
    gap: 4px;
}

.link{
    padding-left: 5px;
    text-decoration: none;
    color: #a5a58d;
}
.link:hover{
    color: #660708;
}

.btnBuscar {
    color: black;
    background-color: #9d0301;
    border-style: none;
}

.imgNav {
    display: flex;
    padding-left: 20px;
    height: 100px;
    width: 80px;
}

.itemList {
    color: white;
}

.ion-cart {
    padding-right: 10px;
    font-size: 25px;
    justify-content: center;
    color: #6a040f;
}
